.nav-tabs>li.active, .nav-tabs>li.active:hover, .nav-tabs>li.active:focus {
    border: none !important;
    border-bottom: 3px solid #ffffff!important;
    border-right: 1px solid #222d3c!important;
}
ul.nav-tabs li.active:last-child{
     border-right: 0px solid #ccc !important;
}
.nav-tabs {
    background: #090e15;
    border-bottom: 0px solid #ffffff;
}
#historyContainer{padding:10px !important;}
.petAdvBlock{text-align: left;}

#caseHistoryModal{padding-top: 0px !important; overflow-y: auto !important; padding-left:0 !important;padding-right:0 !important;}
#caseHistoryModal .modal-dialog{margin:0 !important;height: auto !important;}
#caseHistoryModal .modal-dialog .modal-content {
        width: 100% !important;
        background: white;height: auto !important;
}

#caseHistoryModal_hc{padding-top: 0px !important; overflow-y: auto !important; padding-left:0 !important;}
#caseHistoryModal_hc .modal-dialog{margin:0 !important;height: auto !important;}
#caseHistoryModal_hc .modal-dialog .modal-content {
        width: 100% !important;
        background: white;height: auto !important;
}


.navbar-form {
padding: 5px 15px !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    cursor: default;
    color: #fff;
    text-align: center;
    width: 100% !important;
    margin:0;
    padding: 7px 2px 5px 2px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
     background:transparent !important;
}
.nav-tabs>li > a{
    font-size: 13px;
	color:#fff;
	font-weight:normal;
}
@media screen and (max-width: 320px) {
    .nav-tabs>li > a{
    font-size: 10px;
	color:#fff;
	font-weight:bold;
}
    .btnsecondary.active {
    padding: 5px 5px !important;
}
}
@media screen and (min-width: 412px) {
    .nav-tabs>li > a{
    font-size: 11px;
}
    #showCaseDiv {
    margin-top: -5px !important;
    margin-top: env(safe-area-inset-top, 42px) !important;
}
    #searchInMyCasesDivId{
        margin-top: 14px !important;
    }
    #my_cases_text{
        margin-top: -7px !important;
    }
    .input-group1{
        margin-top: 56px !important;
    }
    #accordion{
        margin-top: 0px !important;
    } 
    .panel-title-a-main{
        margin-top: 7px !important;
    }
    #refreshToGetText{
        margin-top: 96px !important;
    }
}

.nav-tabs>li > a > i{
    font-size: 15px;
    color: #00BEFC;
}
.top-button-container {
    background:none;
    border:none;
    box-shadow:none;
	font-size: small;
    
	white-space: normal;
}
.top-button-label {
    color:#fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    background:none;
    border:none;
    box-shadow:none;
}
.button-label {
	font-size: small;
}
ul.nav-tabs li {
    width: 25% !important;
    border: none !important;
    border-bottom: 3px solid #222d3c!important;
    border-right: 1px solid #222d3c!important;
}
ul.nav-tabs li:hover ,ul.nav-tabs li:focus, ul.nav-tabs li:active {
    background: #151f2b !important;
}
ul.nav-tabs li:last-child{
     border-right: 0px solid #ccc !important;
}
ul.nav-tabs li a {
    color: #fff !important;
    text-align: center;
    width: 100% !important;
    border: none !important;
    border-bottom: 0px solid #3A3F43 !important;
    margin:0;
    box-sizing: border-box;
    padding:7px 3px 5px 3px;
    line-height: 1 !important;
    height:50px;
    display: block;
}
ul.nav-tabs li a i{
    margin-bottom: 5px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
	color: #fff;
}

.sidenav {
		height: 93%;
        width: 70%;
        max-width: 250px;
        position: fixed;
        z-index:999;
        top: 36px;
        margin-top: env(safe-area-inset-top, 42px);
        left: 0;
        background-color: #151f2b;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
        display:none;
		border-right:1px solid #3c485a;
		box-shadow:inset 0 0 2px rgba(0,0,0,0.3);
}

.sidenav a {
        padding: 8px 32px 8px 32px;
        border-bottom: 1px solid #3c485a;
        text-decoration: none;
        font-size:13px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        text-align: left;
    }

    .sidenav a.active{
        color: #F05539 !important;
        background-color: #ffffff !important;
    }

    .sidenav a:hover, .offcanvas a:focus{
        color: #F05539;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

.sidemenu-header{
    padding: 10px;
    color: #fff;
    border-bottom:1px solid #ccc;
}
.sidemenu-header h4 {
    color: #00BEFC;
}


#tabpanel{
    margin: 0;
    padding:0; 
}
.pannel {
    min-height: 450px;  
}
@media screen and (max-width: 320px) {
.pannel {
    min-height: 300px;  
}
}

.container1 {
padding-right: 0px !important;
padding-left: 0px !important;
}
.Container
    {
        width: auto;
        overflow-y: auto;
    }

#state_dist_componant{
    margin: 5px 0; 
}
/* #cnr{

} */
.case-status-menu{
padding-right: 0px !important;
padding-left: 0px !important;
}
.csmenu-btn{
    border-radius: 0px !important;
    background: transparent;
    border-right: 1px solid #222d3c !important;
    border-bottom: 1px solid #222d3c !important;
    padding: 0.5rem 0;
}
.search-btn{
    background: #fff !important;
    height: 50px;
    width: 50px;
}
.search-btn > i {
    font-size:25px;
    color: #fff;
}
.search-btn:hover{
    border:1px solid #ccc !important;
}
.row1{
    border-top:1px solid #ccc !important;
    
}
#mycases_span_id{
    padding: 0px 2px;
    border-radius: 3px;
    color: #2e2e2e;
    margin-bottom: 5px;
    background-color: #00befb;
    /* border-bottom: 1px solid #c8673e; */
    /* border-left: 1px solid #c8673e; */
    /* text-shadow: 0px -1px #BD3E31; */
    letter-spacing: 1px;
    line-height: 1.2;
    display: inline-block;
}
#todays_cases_span_id{
    padding: 0px 2px;
    border-radius: 3px;
    color: #FFF;
    background-color: #FB814E;
    border-bottom: 1px solid #c8673e;
    border-left: 1px solid #c8673e;
    text-shadow: 0px -1px #BD3E31;
    letter-spacing: 1px;
    line-height: 1.2;
    display:inline-block;
    margin-left:5px;
}
.tab-content .tab-pane {    
    position: relative;
}
.case-status-menu i {
    font-size:60px;
    color:#00B0D0;
}

.csmargintop{
    margin-top:146px;
    padding-top: env(safe-area-inset-top, 39px);
}
.cnrhelpdiv{
    height: calc( 100vh - 290px );
    overflow-y: auto;
    /*border-bottom: 1px solid #ccc;*/
    }
.virDisc{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #121623;
    border-top: 0px solid #ccc;
}
.mainMenuDiv{
    position:fixed;top:0;left:0;right:0;margin-top:36px;z-index:998;
    padding-top: env(safe-area-inset-top, 39px);
}
@media screen and (max-width: 360px) {
.csmargintop{
    margin-top:139px;
    padding-top: env(safe-area-inset-top, 39px);
}
    .mainMenuDiv{
    position:fixed;top:0;left:0;right:0;margin-top:36px;z-index:998;
    padding-top: env(safe-area-inset-top, 39px);
}
    
}

@media screen and (max-width: 320px) {

    .cnrhelpdiv{
        height: 250px;
        overflow-y: auto;
    }
}

.qrcodebtn:hover , .qrcodebtn:focus , .qrcodebtn:active  {
    border:1px solid #ccc;
    outline: none;
}

.ui-datepicker td a:after
    {
        content: "";
        display: block;
        text-align: center;
        color: Blue;
        font-size: 10px;
        font-weight: bold;
    }
 #ui-datepicker-div {
                z-index: 1040 !important;
                width: auto !important;
            }




#share_info{
  width: 100%;
  padding: 20px 0;
}
.share_tbl{
  text-align: center;
  font-weight: bold;
    background: transparent;
  border-radius: 10px;
}
.share_tbl tr td span{
  display: block;
    font-size: 8px;
    bottom: 0;
}
.share_tbl tr td{
  text-align: center;
    border:0px solid #fff;
    padding:3px;
}
.Cancel_div a,.share_tbl tr td a{
  text-decoration: none;
  color: #fff;
}
.Cancel_div {
  padding-top: 0px;
}
.Cancel_div > a,.Cancel_div > a:hover,.Cancel_div > a:active,.Cancel_div > a:focus{
  color: #fff;
    text-decoration: none;
}
#searchPageModal .modal-dialog{margin:0 !important;}
#searchPageModal .modal-dialog .modal-content {
        width: 100% !important;
        background: #151F2B;
        color:#fff;
}
#searchPageModal .modal-backdrop.fade.in{background: #151F2B  !important;    opacity: 1;}
#searchPageModal{padding-top: 0px !important; overflow-y: auto !important; padding-left:0 !important;}

#viewBusinessModal{padding-top: 0px !important; overflow-y: auto !important; padding-left:0 !important;}
#viewBusinessModal .modal-dialog .modal-content .modal-body{background: #151F2B  !important;}
#viewBusinessModal .modal-dialog{margin:0 !important;}
#viewBusinessModal .modal-backdrop.fade.in{background: #151F2B  !important;    opacity: 1;}


#writInfoModal{padding-top: 0px !important; overflow-y: auto !important; padding-left:0 !important;}
#writInfoModal .modal-dialog .modal-content .modal-body{background: #151F2B  !important;}
#writInfoModal .modal-dialog{margin:0 !important;}
#writInfoModal .modal-backdrop.fade.in{background: #151F2B  !important;    opacity: 1;}

#mapModal{padding-top: 0px !important; overflow-y: auto !important; padding-left:0 !important;}
#mapModal .modal-dialog .modal-content .modal-body{background: #151F2B  !important;}
#mapModal .modal-dialog{margin:0 !important;}
#mapModal .modal-backdrop.fade.in{background: #151F2B  !important;    opacity: 1;}


.fade.in {
    opacity: 1;
  }
  
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .modal-backdrop.in {
    opacity: 0.5;
  }

  .card-header{
    background: #27313c;
    margin-top: 0px;
    border-radius: 7px;
    padding: 0;
    border-bottom: 0px solid rgba(0,0,0,.125);
  }
  .card-body {
    margin-bottom: 0px;
    padding: 0;
    overflow-y: auto;
}

/*20-03-2020*/
/*Menu Tab name line height*/
ul.nav-tabs li a {
    font-size: 12px;
    line-height: 0.9 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* modal width increse */
.modal-body{
    padding: 1rem 0;
}

.modal-body .container{
    padding:0;
} 

.qrcodebtn,.search-btn{
    color: #fff !important;
    background: #090e15 !important;
    border: 1px solid #373737 !important;
}
.topiconlist{
    list-style-type:none;
    display:contents;
}
.topiconlist li {
    float:left;
}
#menubarClose .page-title-main h2,#menubarClose .page-title-main h3{
    font-size:1rem;
}
*:focus{
    outline:none;
}
#home{
    padding-top: env(safe-area-inset-top, 42px);
}
#total_est_header:focus{
    color:#000;
}
body {
    color: #fff !important;
}

#filingHistoryContainer {
    padding: 10px !important;
}

#newVersionAvailableId{
    color: #00BEFC !important;
}
