/*a, a:hover, a:link, a:visited {
	color: blue;
	text-decoration: underline;
}*/

/*=== This is a hole progress bar css===*/
.demo-wrapper {
width: 500px;
margin: 30px auto 0;
}

.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:auto;
}
.modal-content {
  min-height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.modal-body {
  position:absolute;
  top:45px;
  bottom:45px;
  left:0;
  right:0;
  overflow-y:auto;
 
    height: 250px;
     background:transparent;
}
.model-body h1{
    
    color:#FFF;
    font-weight: bold;
    
    
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
.img-responsive {
    width:100px; /* This value will depend on what size you want for your loading image, let's say it's 50px */
    height: 100px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-25px; /* This needs to be half of the height */
    margin-left:-25px; /* This needs to be half of the width */
}